body {
    background-color: #cccccc;
}

header {
    background-color: #bbbbbb;
}

.nav-bar {
    display:flex;
}

.nav-item {
    margin: auto;
    list-style: none;
    padding: 10px;
}

a {
    font-style: italic;
    color: darkslategrey;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    background-color: #a1a1a1;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60vh;
    padding: 10px;
}

aside {
    background-color: #a0a0a0;
    padding: 7%;
}

main {
    padding: 2% 5%;
    grid-column: 2 / 5;
}

footer {
    border: 1px solid #aaaaaa;
    height: 50px;
}