/* Mobile first */

body {
    background-color: #cccccc;
    margin: 0px;
    padding: 0px;
}

header, nav, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #bbbbbb;
    min-width: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}


nav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-bar {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.nav-item {
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 1rem;
}

a {
    font-style: italic;
    color: darkslategrey;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    background-color: #a1a1a1;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-height: auto;
    height: 60rem;
    padding: 10px;
}

aside {
    background-color: #a0a0a0;
    padding: 1rem 2rem;
}

main {
    padding: 1rem 2rem;
}

footer {
    border: 1px solid #aaaaaa;
    height: 50px;
    text-align: center;
}